* {
    margin: 5;
    padding: 5;
}

header,
footer {
    width: 100%;
    height: 170px;
    background-color: blue;  /* header, footer styling rules */
    color: white;
}

h1, h2 {
    text-align: center;  /* heading styling rules */
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;   /* image styling rules */
} 

ul {
    padding-left: 40px;   /* list styling rules */
    font-size: 20px;
}

p {
    text-align: center;  /* paragraph styling rules */
    font-size: 30px;
  }

  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
  }